header {
  width: 100%;
  padding-top: 16px;
  position: relative;
  z-index: 10;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo a {
  display: block;
  transition: 0.7s ease;

  &:hover {
    opacity: 0.85;
    transform: translate3d(0, -2px, 0);
  }
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;

  li {
    margin-left: 24px;
    position: relative;
  }

  @include responsive() {
    display: none;
  }

  .nav-item-desktop-only {
    @include responsive() {
      display: none;
    }
  }
}

.logo {
  max-width: 88px;
}

.nav-link {
  display: block;

  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;

  color: $gray-3;

  padding: 8px 16px;
  transition: 0.7s ease;

  position: relative;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;

    width: 2px;
    height: 0px;
    transition: 0.7s ease;
    pointer-events: none;

    background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #e91d22 100%);
  }

  &:hover {
    color: $white-light;

    &::after {
      height: 40px;
    }
  }

  @include responsive() {
    font-size: 11px;
    letter-spacing: 1px;
    padding: 6px 8px;
  }
}

.nav-social {
  display: flex;

  a {
    display: flex;
    align-items: center;
    margin-left: 16px;
    color: $gray-3;
    font-size: 24px;
    line-height: 1;
    transition: 0.7s ease;

    &:hover {
      color: $red-light;
      transform: translate3d(0, -3px, 0);
    }
  }

}

@include responsive() {
  .navbar {
    flex-wrap: nowrap;
    padding: 0 12px;
  }

  .nav-social {
    margin-left: auto;

    a {
      margin-left: 10px;
      font-size: 22px;
      padding: 8px;
    }

    a:first-child {
      margin-left: 0;
    }
  }
}
